<mat-card>Welcome to the Against The Spread</mat-card>
<mat-card>
  <h1> Login </h1>
  <form (submit)="onLoginForm(loginForm)" #loginForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input name="email" ngModel type="email" matInput #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid"></mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input name="password" ngModel type="password" matInput #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid"></mat-error>
    </mat-form-field>
    <br>
    <button
      type="submit"
      mat-raised-button
    >Login</button>
  </form>
</mat-card>
