<mat-card>
  <h1>Welcome to Against The Spread</h1>
</mat-card>
<mat-card>
  <h1>Sign In</h1>
  <form (submit)="onSignupForm(signupForm)" #signupForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input name="email" ngModel type="email" matInput #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid"></mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input name="username" ngModel type="text" matInput #usernameInput="ngModel" required>
      <mat-error *ngIf="emailInput.invalid"></mat-error>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input name="password" ngModel type="password" matInput #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid"></mat-error>
    </mat-form-field>
    <br>

    <button
    type="submit"
      mat-raised-button
    >Sign Up</button>
  </form>
</mat-card>

