<form (submit)="getOdds()">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Week </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> -->

  <ng-container matColumnDef="home_team">
    <th mat-header-cell *matHeaderCellDef> Home Team </th>
    <td mat-cell *matCellDef="let element"> {{element.home_team}} </td>
  </ng-container>

    <ng-container matColumnDef="home_spread">
      <th mat-header-cell *matHeaderCellDef> Home Spread </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button>
         {{element.home_spread}}
        </button>
        </td>
    </ng-container>

  <ng-container matColumnDef="away_team">
    <th mat-header-cell *matHeaderCellDef> Away Team </th>
    <td mat-cell *matCellDef="let element"> {{element.away_team}} </td>
  </ng-container>

  <ng-container matColumnDef="away_spread">
    <th mat-header-cell *matHeaderCellDef> Away Spread </th>
    <td mat-cell *matCellDef="let element">
          {{element.away_spread}}
      </td>
  </ng-container>

  <!-- <ng-container>
    <th mat-header-cell *matHeaderCellDef> Selection </th>

        <mat-label>Selection</mat-label>
        <mat-select>
          <mat-option>
            Team 1
          </mat-option>
          <mat-option>
            Team  2
          </mat-option>
          <mat-option>
            No Selection
          </mat-option>
        </mat-select>

  </ng-container> -->


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</form>
