<form (submit)="onSubmit()" *ngIf="!isLoading">
  <h4 style="padding-left: 10px; padding-top: 10px;">Currently Selected : {{currentNumPicks}}</h4>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
  <ng-container matColumnDef="home_team">
    <th mat-header-cell *matHeaderCellDef> Home Team </th>
    <td mat-cell *matCellDef="let element"> {{element.home_team}} </td>
  </ng-container>

    <ng-container matColumnDef="home_spread">
      <th mat-header-cell *matHeaderCellDef> Home Spread </th>
      <td mat-cell *matCellDef="let element">
         {{element.home_spread}}
        </td>
    </ng-container>

  <ng-container matColumnDef="away_team">
    <th mat-header-cell *matHeaderCellDef> Away Team </th>
    <td mat-cell *matCellDef="let element"> {{element.away_team}} </td>
  </ng-container>

  <ng-container matColumnDef="away_spread">
    <th mat-header-cell *matHeaderCellDef> Away Spread </th>
    <td mat-cell *matCellDef="let element">
          {{element.away_spread}}
      </td>
  </ng-container>

  <ng-container matColumnDef="selections">
    <th mat-header-cell *matHeaderCellDef> Your Picks</th>
  <td mat-cell *matCellDef="let element">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Selections</mat-label>
      <mat-select disabled={{element.isLocked}} [(value)]="element.selection" (selectionChange)="onSelect($event.value, element.id)">
      <mat-option value={{element.away_team}}>{{element.away_team}}</mat-option>
      <mat-option value={{element.home_team}}>{{element.home_team}}</mat-option>
      <mat-option value="No Selection">No selection</mat-option>
    </mat-select>
    </mat-form-field>
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"  ></tr>
  <tr mat-row *matRowDef="
  let row;
  let even = even;
  columns: displayedColumns;"
[ngClass]="{gray: even}"></tr>
</table>

<mat-card style="text-align: center;">
<button type="submit" color="primary" mat-flat-button>Save</button>
</mat-card>
</form>

<div *ngIf="isLoading"
   style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
